body {
    font-family: 'Candara', sans-serif;
    background: linear-gradient(45deg, #ffffff 0%, #666665 99%, #b3b3b0 100%);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 90%;
    height: 90%;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 20px;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.top-bar {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}

input[type="text"], button {
    border: none;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    font-size: 16px;
    outline: none;
}

input[type="text"] {
    width: 40%;
}

button {
    cursor: pointer;
    transition: box-shadow 0.3s, background-color 0.3s;
    display: flex;
    align-items: center;
}

#searchBtn {
    background-color: #007bff;
    color: white;
    margin-left: -10px;
}

#searchBtn:hover {
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    background-color: #0056b3;
}

#floatingAddTaskBtn {
    background-color: #28a745;
    color: white;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    transition: box-shadow 0.3s, background-color 0.3s;
}

#floatingAddTaskBtn:hover {
    box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
    background-color: #218838;
}

.tasks {
    display: flex;
    justify-content: space-between;
    height: 80%;
}

.panel {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 20px;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    padding: 20px;
    width: 45%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.panel h2 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.divider {
    height: 2px;
    background: #ddd;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}

li {
    background: #e0e0e0;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

li:nth-child(odd) {
    background: #d4d4d4;
}

.task-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.task-details span {
    display: block;
}

.task-title {
    font-size: 18px;
    font-weight: bold;
}

.task-time {
    font-size: 12px;
    color: #888;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 3px 3px 6px #bebebe, -3px -3px 6px #ffffff;
    transition: box-shadow 0.3s;
}

.actions .complete {
    color: green;
}

.actions .complete:hover {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #00c000}

.actions .remove{
    color: red;
}

.actions .remove:hover {
    outline: none;
    border-color: #ec7373;
    box-shadow: 0 0 10px #ff0000;
}

.actions .delete{
    color: red;
}

.actions .delete:hover {
    outline: none;
    border-color: #ec7373;
    box-shadow: 0 0 10px red;
}

.dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    padding: 20px;
    width: 300px;
    z-index: 1000;
}

.dialog-content {
    display: flex;
    flex-direction: column;
}

.dialog-content h2 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.dialog-content label {
    margin-bottom: 10px;
}

.dialog-content input[type="text"], .dialog-content input[type="number"] {
    border: none;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
}

.dialog-buttons {
    display: flex;
    justify-content: space-between;
}

.dialog-buttons button {
    border: none;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.3s, background-color 0.3s;
}

.dialog-buttons #addTaskConfirmBtn {
    background-color: #28a745;
    color: white;
}

.dialog-buttons #addTaskConfirmBtn:hover {
    box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
    background-color: #218838;
}

.dialog-buttons #addTaskCancelBtn {
    background-color: #dc3545;
    color: white;
}

.dialog-buttons #addTaskCancelBtn:hover {
    box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
    background-color: #c82333;
}
